.vscode/

# interpreter bytecode
__pycache__/

# experiment results
runs/
videos/
weights
result_plot/xlsx_dir

# evaluation tools folder
val_utils/data

# zip files
*.zip

# exports
*_openvino_model
*.torchscript
*.pt
*.onnx
*.engine

# interactive plots
*.html
